<!DOCTYPE html>
{% load static %}

<html>
<title>Fillout</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/card_fillout.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.1/jquery.payment.min.js" ></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script src="{% static 'js/card_fillout.js' %}"></script>
<body>
<div class="row">
    <div class="col-75">
      <div class="container">
        <form method="POST">{% csrf_token %}

          <div class="container">
            <h4>Cart
              <span class="price" style="color:black">
                <i class="fa fa-shopping-cart"></i>
                <b>{{ total_quanity }}</b>
              </span>
            </h4>
            
            {% for key, value in cart.cart_items.items %}
                <p><b>{{ key }}({{ value.quantity }})</b> <span class="price">{{ value.total }}</span></p>
            {% endfor %}
            <p><b>Subtotal</b> <span class="price">{{ cart.sub_total }}</span></p>
            <p><b>Tax</b> <span class="price">{{ cart.tax }}</span></p>
            <p><b>Shipping</b> <span class="price">{{ cart.shipping_rate }}</span></p>
    
            <hr>
            <p>Total <span class="price" style="color:black"><b>${{ cart.grand_total }}</b></span></p>
          </div>

          <div class="row">
            <div class="col-50">
              <h3>Information</h3>
              <label for="firstname"><i class="fa fa-user"></i> First Name</label>
              <input type="text" id="firstname" name="firstname" placeholder="John" required>
              <label for="lastname"><i class="fa fa-user"></i> Last Name</label>
              <input type="text" id="lastname" name="lastname" placeholder="Doe" required>
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input type="text" id="email" name="email" placeholder="john@example.com" required>
              <label for="phone"><i class="fa fa-phone"></i> Phone</label>
              <input type="tel" id="phone" name="phone" pattern="\d*" placeholder="312-543-1234" required>
              <label for="adr"><i class="fa fa-address-card-o"></i> Shipping Address</label>
              <input type="text" id="shipping_address" name="shipping_address" placeholder="542 W. 15th Street" required>
              <label for="city"><i class="fa fa-institution"></i> Shipping City</label>
              <input type="text" id="shipping_city" name="shipping_city" placeholder="New York" required>
  
              <div class="row">
                <div class="col-50">
                  <label for="state">Shipping State</label>
                  <select id="shipping_state" name="shipping_state" placeholder="NY" required>
                    <option>ALABAMA	(AL)</option>
                    <option>ALASKA	(AK)</option>
                    <option>AMERICAN SAMOA	(AS)</option>
                    <option>ARIZONA	(AZ)</option>
                    <option>ARKANSAS	(AR)</option>
                    <option>CALIFORNIA	(CA)</option>
                    <option>COLORADO	(CO)</option>
                    <option>CONNECTICUT	(CT)</option>
                    <option>DELAWARE	(DE)</option>
                    <option>DISTRICT OF COLUMBIA	(DC)</option>
                    <option>FLORIDA	(FL)</option>
                    <option>GEORGIA	(GA)</option>
                    <option>GUAM	(GU)</option>
                    <option>HAWAII	(HI)</option>
                    <option>IDAHO	(ID)</option>
                    <option>ILLINOIS	(IL)</option>
                    <option>INDIANA	(IN)</option>
                    <option>IOWA	(IA)</option>
                    <option>KANSAS	(KS)</option>
                    <option>KENTUCKY	(KY)</option>
                    <option>LOUISIANA	(LA)</option>
                    <option>MAINE	(ME)</option>
                    <option>MARYLAND	(MD)</option>
                    <option>MASSACHUSETTS	(MA)</option>
                    <option>MICHIGAN	(MI)</option>
                    <option>MINNESOTA	(MN)</option>
                    <option>MISSISSIPPI	(MS)</option>
                    <option>MISSOURI	(MO)</option>
                    <option>MONTANA	(MT)</option>
                    <option>NEBRASKA	(NE)</option>
                    <option>NEVADA	(NV)</option>
                    <option>NEW HAMPSHIRE	(NH)</option>
                    <option>NEW JERSEY	(NJ)</option>
                    <option>NEW MEXICO	(NM)</option>
                    <option>NEW YORK	(NY)</option>
                    <option>NORTH CAROLINA	(NC)</option>
                    <option>NORTH DAKOTA	(ND)</option>
                    <option>NORTHERN MARIANA IS	(MP)</option>
                    <option>OHIO	(OH)</option>
                    <option>OKLAHOMA	(OK)</option>
                    <option>OREGON	(OR)</option>
                    <option>PENNSYLVANIA	(PA)</option>
                    <option>PUERTO RICO	(PR)</option>
                    <option>RHODE ISLAND	(RI)</option>
                    <option>SOUTH CAROLINA	(SC)</option>
                    <option>SOUTH DAKOTA	(SD)</option>
                    <option>TENNESSEE	(TN)</option>
                    <option>TEXAS	(TX)</option>
                    <option>UTAH	(UT)</option>
                    <option>VERMONT	(VT)</option>
                    <option>VIRGINIA	(VA)</option>
                    <option>VIRGIN ISLANDS	(VI)</option>
                    <option>WASHINGTON	(WA)</option>
                    <option>WEST VIRGINIA	(WV)</option>
                    <option>WISCONSIN	(WI)</option>
                    <option>WYOMING	(WY)</option>
                  </select>
                </div>
                <div class="col-50">
                  <label for="zip">Shipping Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="10001" maxlength="5"required>
                </div>
              </div>
            </div>
  
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
                <i class="fa fa-cc-jcb" style="color:green;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
              </div>
              <label for="cname">Name on Card</label>
              <input type="text" id="cname" name="cardname" placeholder="John More Doe" required>
              <label for="ccnum">Credit card number</label>
              <input type="tel" id="ccnum" name="cardnumber" class="cc-number" maxlength="19" name="credit-number" pattern="\d*" placeholder="1111 2222 3333 4444" required />

              <div class="row">
                <div class="col-50">
                  <label for="expire">Expiration</label>
                <input class="cc-expires" maxlength="7" name="credit-expires" pattern="\d*" placeholder="MM / YY" type="tel" required/>
                </div>
                <div class="col-50">
                  <label for="cvv">CVC</label>
                  <input class="cc-cvc" maxlength="4" name="credit-cvc" pattern="\d*" placeholder="CVC" type="tel" required/>
                </div>
              </div>

              <label for="adr"><i class="fa fa-address-card-o"></i> Billing Address</label>
              <input type="text" id="billing_address" name="billing_address" placeholder="542 W. 15th Street" required>
              <label for="city"><i class="fa fa-institution"></i> Billing City</label>
              <input type="text" id="billing_city" name="billing_city" placeholder="New York" required>
  
              <div class="row">
                <div class="col-50">
                  <label for="state">Billing State</label>
                    <select id="billing_state" name="billing_state" placeholder="NY" required>
                      <option>ALABAMA	(AL)</option>
                      <option>ALASKA	(AK)</option>
                      <option>AMERICAN SAMOA	(AS)</option>
                      <option>ARIZONA	(AZ)</option>
                      <option>ARKANSAS	(AR)</option>
                      <option>CALIFORNIA	(CA)</option>
                      <option>COLORADO	(CO)</option>
                      <option>CONNECTICUT	(CT)</option>
                      <option>DELAWARE	(DE)</option>
                      <option>DISTRICT OF COLUMBIA	(DC)</option>
                      <option>FLORIDA	(FL)</option>
                      <option>GEORGIA	(GA)</option>
                      <option>GUAM	(GU)</option>
                      <option>HAWAII	(HI)</option>
                      <option>IDAHO	(ID)</option>
                      <option>ILLINOIS	(IL)</option>
                      <option>INDIANA	(IN)</option>
                      <option>IOWA	(IA)</option>
                      <option>KANSAS	(KS)</option>
                      <option>KENTUCKY	(KY)</option>
                      <option>LOUISIANA	(LA)</option>
                      <option>MAINE	(ME)</option>
                      <option>MARYLAND	(MD)</option>
                      <option>MASSACHUSETTS	(MA)</option>
                      <option>MICHIGAN	(MI)</option>
                      <option>MINNESOTA	(MN)</option>
                      <option>MISSISSIPPI	(MS)</option>
                      <option>MISSOURI	(MO)</option>
                      <option>MONTANA	(MT)</option>
                      <option>NEBRASKA	(NE)</option>
                      <option>NEVADA	(NV)</option>
                      <option>NEW HAMPSHIRE	(NH)</option>
                      <option>NEW JERSEY	(NJ)</option>
                      <option>NEW MEXICO	(NM)</option>
                      <option>NEW YORK	(NY)</option>
                      <option>NORTH CAROLINA	(NC)</option>
                      <option>NORTH DAKOTA	(ND)</option>
                      <option>NORTHERN MARIANA IS	(MP)</option>
                      <option>OHIO	(OH)</option>
                      <option>OKLAHOMA	(OK)</option>
                      <option>OREGON	(OR)</option>
                      <option>PENNSYLVANIA	(PA)</option>
                      <option>PUERTO RICO	(PR)</option>
                      <option>RHODE ISLAND	(RI)</option>
                      <option>SOUTH CAROLINA	(SC)</option>
                      <option>SOUTH DAKOTA	(SD)</option>
                      <option>TENNESSEE	(TN)</option>
                      <option>TEXAS	(TX)</option>
                      <option>UTAH	(UT)</option>
                      <option>VERMONT	(VT)</option>
                      <option>VIRGINIA	(VA)</option>
                      <option>VIRGIN ISLANDS	(VI)</option>
                      <option>WASHINGTON	(WA)</option>
                      <option>WEST VIRGINIA	(WV)</option>
                      <option>WISCONSIN	(WI)</option>
                      <option>WYOMING	(WY)</option>
                    </select>
                </div>
                <div class="col-50">
                  <label for="zip">Billing Zip</label>
                  <input type="text" id="billing_zip" name="billing_zip" placeholder="10001" maxlength="5" required>
                </div>
            </div>
  
          </div>
          <input type="submit" name="Confirm Payment" value="Confirm Payment" class="btn">
        </form>
      </div>
    </div>
  
    <!-- <div class="col-25">
      <div class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b>{{ total_quanity }}</b>
          </span>
        </h4>

        {% for key, value in cart.items %}
            <p><b>{{ key }}({{ value.0 }})</b> <span class="price">{{ value.1 }}</span></p>
        {% endfor %}

        <hr>
        <p>Total <span class="price" style="color:black"><b>${{ total_price }}</b></span></p>
      </div>
    </div> -->
  </div>

</body>
</html>
